### Project for a data engineering course.

DATASET https://files.grouplens.org/datasets/movielens/ml-100k/

READ ME https://files.grouplens.org/datasets/movielens/ml-100k/README

### Reflection

From the start I found this project quite challenging. But as time went on and I researched and watched some tutorials in using Pandas, it became clearer.

The first couple of hours I didn't get anywhere, I tried to focus on the lectures but I ended up speeding through tutorials on youtube instead, which wasn't a good idea since I didn't have a foundation to understand the tutorials. At last I watched through all the recorded lectures and from there got a solid starting point. I also went through Pandas on w3schools. Overall, I'm happy about how this project turned out and I'm looking forward to the next one. My code isn't the most beautiful I've seen, but it works.

In [177]:
import pandas as pd

In [178]:
# Read in data from the files.

# Set the path to the dataset directory
path = "./datasets/"

# Read the datas, adding separators and columns names.
userData = pd.read_csv(path+"u.user", sep="|", names=["Age", "Gender", "Profession", "Zip Code"])
ratingData = pd.read_csv(path+"u.data", sep="\t", names=["userId","itemId","rating","timestamp"])
movieData = pd.read_csv(path + "u.item", sep="|", encoding="latin-1", header=None, names=["itemId", "title"], usecols=[0, 1])

In [179]:
# Testing out the datas
for df in [userData, ratingData, movieData]:
    print(df.head())
    print("\n")

   Age Gender  Profession Zip Code
1   24      M  technician    85711
2   53      F       other    94043
3   23      M      writer    32067
4   24      M  technician    43537
5   33      F       other    15213


   userId  itemId  rating  timestamp
0     196     242       3  881250949
1     186     302       3  891717742
2      22     377       1  878887116
3     244      51       2  880606923
4     166     346       1  886397596


   itemId              title
0       1   Toy Story (1995)
1       2   GoldenEye (1995)
2       3  Four Rooms (1995)
3       4  Get Shorty (1995)
4       5     Copycat (1995)

##### 1. Read in user data, rating data and movie data.

Displays the first rows of the user, rating and movie data. Shows data types and basic statistics for all the datas. The information helps to understand the build up and content of each dataset.

In [180]:
# 1. Read in user data, rating data and movie data.

# Display the first rows of user data
print("User Data:")
print(userData.head())

# Show data types and basic statistics for user data
print("\nData Types and Statistics for User Data:")
print(userData.dtypes)
print(userData.describe())

# Display the first rows of rating data
print("\n\n\nRating Data:")
print(ratingData.head())

# Show data types and basic statistics for rating data
print("\nData Types and Statistics for Rating Data:")
print(ratingData.dtypes)
print(ratingData.describe())

# Display the first lines of movie data
print("\n\n\nMovie Data:")
print(movieData.head())

# Show data types and basic statistics for movie data
print("\nData Types and Statistics for Movie Data:")
print(movieData.dtypes)
print(movieData.describe())

User Data:
   Age Gender  Profession Zip Code
1   24      M  technician    85711
2   53      F       other    94043
3   23      M      writer    32067
4   24      M  technician    43537
5   33      F       other    15213

Data Types and Statistics for User Data:
Age            int64
Gender        object
Profession    object
Zip Code      object
dtype: object
              Age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000



Rating Data:
   userId  itemId  rating  timestamp
0     196     242       3  881250949
1     186     302       3  891717742
2      22     377       1  878887116
3     244      51       2  880606923
4     166     346       1  886397596

Data Types and Statistics for Rating Data:
userId       int64
itemId       int64
rating       int64
timestamp    int64
dtype: object
             userId         itemId         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08



Movie Data:
   itemId              title
0       1   Toy Story (1995)
1       2   GoldenEye (1995)
2       3  Four Rooms (1995)
3       4  Get Shorty (1995)
4       5     Copycat (1995)

Data Types and Statistics for Movie Data:
itemId     int64
title     object
dtype: object
            itemId
count  1682.000000
mean    841.500000
std     485.695893
min       1.000000
25%     421.250000
50%     841.500000
75%    1261.750000
max    1682.000000

##### 2. Choose data

Displays selected columns from the user data, "Gender," "Age," and "Profession."
Then merges user rating data with movie data based on the 'itemId' and sorts the merged data by movie title.
Prints the sorted ratings by film title, displaying the first 50 rows of the resulting DataFrame.

In [181]:
# 2. Choose data

# Display only selected columns: gender, age, and profession
selected_columns = userData[["Gender", "Age", "Profession"]]
print(selected_columns)

# Merge user rating data with movieData to include movie titles
merged_data = pd.merge(ratingData, movieData, left_on='itemId', right_on='itemId')

# Sort the merged data by movie title
sorted_ratings = merged_data.sort_values(by='title')

# Print the sorted ratings by film title, displaying the first 50 rows
print("Sorted ratings by film:")
print(sorted_ratings[['title', 'rating']].head(50))

    Gender  Age     Profession
1        M   24     technician
2        F   53          other
3        M   23         writer
4        M   24     technician
5        F   33          other
..     ...  ...            ...
939      F   26        student
940      M   32  administrator
941      M   20        student
942      F   48      librarian
943      M   22        student

[943 rows x 3 columns]
Sorted ratings by film:
                           title  rating
97443  'Til There Was You (1997)       1
97444  'Til There Was You (1997)       3
97445  'Til There Was You (1997)       1
97446  'Til There Was You (1997)       2
97451  'Til There Was You (1997)       3
97450  'Til There Was You (1997)       2
97449  'Til There Was You (1997)       2
97448  'Til There Was You (1997)       4
97447  'Til There Was You (1997)       3
98319               1-900 (1994)       4
98316               1-900 (1994)       1
98317               1-900 (1994)       1
98315               1-900 (1994)       4
98318               1-900 (1994)       3
59946      101 Dalmatians (1996)       2
59936      101 Dalmatians (1996)       1
59937      101 Dalmatians (1996)       3
59938      101 Dalmatians (1996)       1
59964      101 Dalmatians (1996)       4
59940      101 Dalmatians (1996)       1
59941      101 Dalmatians (1996)       4
59942      101 Dalmatians (1996)       4
59943      101 Dalmatians (1996)       3
59944      101 Dalmatians (1996)       1
59945      101 Dalmatians (1996)       2
59903      101 Dalmatians (1996)       4
59948      101 Dalmatians (1996)       2
59906      101 Dalmatians (1996)       4
59905      101 Dalmatians (1996)       4
59904      101 Dalmatians (1996)       2
59935      101 Dalmatians (1996)       3
59902      101 Dalmatians (1996)       3
59901      101 Dalmatians (1996)       3
59900      101 Dalmatians (1996)       3
59899      101 Dalmatians (1996)       3
59898      101 Dalmatians (1996)       4
59897      101 Dalmatians (1996)       4
59947      101 Dalmatians (1996)       4
59934      101 Dalmatians (1996)       4
59927      101 Dalmatians (1996)       5
59932      101 Dalmatians (1996)       3
59909      101 Dalmatians (1996)       4
59910      101 Dalmatians (1996)       3
59911      101 Dalmatians (1996)       1
59912      101 Dalmatians (1996)       1
59913      101 Dalmatians (1996)       5
59914      101 Dalmatians (1996)       3
59915      101 Dalmatians (1996)       3
59916      101 Dalmatians (1996)       3
59917      101 Dalmatians (1996)       3

##### 3. Filter the data

Selects users with the profession "programmer" and prints the DataFrame.
It filters users who are over 40 years old and male and then prints the DataFrame.
It filters users who are over 40, male and have the profession "programmer" and then prints the resulting DataFrame.

In [182]:
# 3. Filter the data

# Filtering data based on profession
selected_profession = userData[userData["Profession"] == "programmer"]
# Filtering data based on age and gender
selected_age_gender = userData[(userData["Age"] > 40) & (userData["Gender"])]
# Filtering data based on age, gender and profession
selected_combined = userData[(userData["Age"] > 40) & (userData["Gender"]) & (userData["Profession"] == "programmer")]

# Selecting specific columns for all users
selected_columns = userData[["Gender", "Age", "Profession"]]

# Printing the resulting DataFrames
print("\nAll users:")
print(userData)

print("\nUsers with a certain profession:")
print(selected_profession)

print("\nUsers who are over 40 and male:")
print(selected_age_gender)

print("\nUsers who are over 40, male, and have a certain profession:")
print(selected_combined)

print("\nSelected columns for all users:")
print(selected_columns)

All users:
     Age Gender     Profession Zip Code
1     24      M     technician    85711
2     53      F          other    94043
3     23      M         writer    32067
4     24      M     technician    43537
5     33      F          other    15213
..   ...    ...            ...      ...
939   26      F        student    33319
940   32      M  administrator    02215
941   20      M        student    97229
942   48      F      librarian    78209
943   22      M        student    77841

[943 rows x 4 columns]

Users with a certain profession:
     Age Gender  Profession Zip Code
17    30      M  programmer    06355
29    41      M  programmer    94043
45    29      M  programmer    50233
53    26      M  programmer    55414
55    37      M  programmer    01331
..   ...    ...         ...      ...
800   25      M  programmer    55337
830   46      M  programmer    53066
864   27      M  programmer    63021
868   21      M  programmer    55303
927   23      M  programmer    55428

[66 rows x 4 columns]

Users who are over 40 and male:
     Age Gender     Profession Zip Code
2     53      F          other    94043
6     42      M      executive    98101
7     57      M  administrator    91344
10    53      M         lawyer    90703
13    47      M       educator    29206
..   ...    ...            ...      ...
932   58      M       educator    06437
934   61      M       engineer    22902
935   42      M         doctor    66221
937   48      M       educator    98072
942   48      F      librarian    78209

[272 rows x 4 columns]

Users who are over 40, male, and have a certain profession:
     Age Gender  Profession Zip Code
29    41      M  programmer    94043
82    50      M  programmer    22902
141   49      M  programmer    36117
144   53      M  programmer    20910
263   41      M  programmer    55346
379   44      M  programmer    98117
384   52      M  programmer    45218
499   42      M  programmer    75006
506   46      M  programmer    03869
694   60      M  programmer    06365
777   63      M  programmer    01810
780   49      M  programmer    94560
830   46      M  programmer    53066

Selected columns for all users:
    Gender  Age     Profession
1        M   24     technician
2        F   53          other
3        M   23         writer
4        M   24     technician
5        F   33          other
..     ...  ...            ...
939      F   26        student
940      M   32  administrator
941      M   20        student
942      F   48      librarian
943      M   22        student

[943 rows x 3 columns]

##### 4. Explore the data

Calculates the average age of users who are writers and prints the result.
Average rating per movie, merges this information with movie titles and prints the result.
Filters movies with over 40 ratings, identifies the top 10 based on their mean ratings and thenh displays the titles and their mean rating.

In [183]:
# 4. Explore the data

# Calculate the average age of users who are writers
average_age_writers = userData.loc[userData['Profession'] == 'writer', 'Age'].mean()
print(f"Average age of users who are writers are {average_age_writers:.0f}.\n")

# Calculate the average rating per movie
mean_ratings_per_movie = ratingData.groupby('itemId')['rating'].mean()

# Merge average ratings with movieData to include movie titles
merged_data = pd.merge(mean_ratings_per_movie, movieData, left_index=True, right_on='itemId')

# Print the average rating per movie with titles
print("Average rating per movie with titles:")
print(merged_data[['title', 'rating']])

# Filter movies with over 40 ratings, sort them and get the top 10
top_10_movies = (
    ratingData.groupby('itemId')['rating']
    .agg(['mean', 'count'])
    .loc[lambda x: x['count'] > 40]
    .sort_values(by='mean', ascending=False)
    .head(10)
)

# Merge top 10 movies with movieData to include movie titles
top_10_movies = pd.merge(top_10_movies, movieData, left_index=True, right_on='itemId')

# Display the result for the top 10 movies with over 40 ratings
print("\nTop 10 movies with over 40 ratings:")
print(top_10_movies[['title', 'mean']])

Average age of users who are writers are 36.

Average rating per movie with titles:
                                          title    rating
0                              Toy Story (1995)  3.878319
1                              GoldenEye (1995)  3.206107
2                             Four Rooms (1995)  3.033333
3                             Get Shorty (1995)  3.550239
4                                Copycat (1995)  3.302326
...                                         ...       ...
1677                          Mat' i syn (1997)  1.000000
1678                           B. Monkey (1998)  3.000000
1679                       Sliding Doors (1998)  2.000000
1680                        You So Crazy (1994)  3.000000
1681  Scream of Stone (Schrei aus Stein) (1991)  3.000000

[1682 rows x 2 columns]

Top 10 movies with over 40 ratings:
                                                 title      mean
407                              Close Shave, A (1995)  4.491071
317                            Schindler's List (1993)  4.466443
168                         Wrong Trousers, The (1993)  4.466102
482                                  Casablanca (1942)  4.456790
113  Wallace & Gromit: The Best of Aardman Animatio...  4.447761
63                    Shawshank Redemption, The (1994)  4.445230
602                                 Rear Window (1954)  4.387560
11                          Usual Suspects, The (1995)  4.385768
49                                    Star Wars (1977)  4.358491
177                                12 Angry Men (1957)  4.344000

##### 5.Combine dataframes

Analyzes the user data, identifying the most common professions among male and female users.
Combines two dataframes related to movie ratings and titles, creating a new table with movie titles and ratings.
Calculates the average ratings given by each user and identifies the top 5 nicest and bottom 5 toughest users based on their average ratings.

In [184]:
# 5. Combine dataframes

# Get male and female users
male_users = userData[userData["Gender"] == "M"]
female_users = userData[userData["Gender"] == "F"]

# Find the most common professions among males and females
common_male_professions = male_users["Profession"].value_counts().idxmax()
common_female_professions = female_users["Profession"].value_counts().idxmax()

# Print the result
print(f"The most common profession for males are {common_male_professions}.")
print(f"The most common profession for females are {common_female_professions}.\n")


# Combine u.data with u.item
movie_ratings = pd.merge(ratingData, movieData, left_on='itemId', right_on='itemId')

# Create a table with movie title and rating
movie_ratings_table = movie_ratings[["title", "rating"]]

# Print the results
print("Table with movie title och rating:")
print(movie_ratings_table.head())

# Create a new DataFrame with averages for each user
user_avg_ratings = ratingData.groupby("userId")["rating"].mean().reset_index()

# Find the 5 nicest and the 5 toughest users
kindest_users = user_avg_ratings.nlargest(5, "rating")["userId"]
toughest_users = user_avg_ratings.nsmallest(5, "rating")["userId"]

# Print the nicest users
print("\nThe 5 nicest users:")
print(kindest_users)

# Print the toughest users
print("\nThe 5 toughest users:")
print(toughest_users)

The most common profession for males are student.
The most common profession for females are student.

Table with movie title och rating:
          title  rating
0  Kolya (1996)       3
1  Kolya (1996)       3
2  Kolya (1996)       5
3  Kolya (1996)       3
4  Kolya (1996)       5

The 5 nicest users:
848    849
687    688
506    507
627    628
927    928
Name: userId, dtype: int64

The 5 toughest users:
180    181
404    405
444    445
684    685
773    774
Name: userId, dtype: int64